<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>海运出口接单</title>
	<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
	<script type="text/javascript" src="static/js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="static/vue/dist/vue.js"></script>
	<!-- 海运编辑 -->
	<style type="text/css">
		#oceanImported{}
		#oceanImported .form-control{height:30px;}
		#oceanImported textarea.form-control{height:100px;}
		#oceanImported .form-group{margin-bottom:5px;}
		#oceanImported .form-group .form-group{margin-bottom:0;}
		#oceanImported .form-group label{width:65px;}
		#oceanImported .main .main-c .form-group .form-control{width:217px;display:inline-block;}
		#oceanImported .main .main-c .form-inline .form-group .form-control{width:70px;}
		#oceanImported .main{padding-top:10px;}
		#oceanImported .main .main-l{width:428px;}
		#oceanImported .main .main-l textarea{width:99%;border-radius:5px;height:125px;}
		#oceanImported .main .main-c{width:295px;padding-left:5px;}
		#oceanImported .main .main-c .form-group textarea.form-control{width:99%;border-radius:5px;}
		#oceanImported .main .main-c .form-inline .form-group .c-medium{width:106px;}
		#oceanImported .main .main-r{width:400px;padding-left:5px;height:569px;}
		#oceanImported .main .main-r .r-small{width:55px;}
		#oceanImported .main .main-r .r-medium{width:120px;}
		#oceanImported .main .main-r .r-big{width:318px;}
		#oceanImported .main .main-r .box-number{width:100%;height:100px;overflow:auto;}
		#oceanImported .main .main-r .box-number table{width:1000px;}
		#oceanImported .main .main-r .box-number table input[type="checkbox"]{width:15px;}
		#oceanImported .main .main-r .box-number table input[type="text"]{width:80px;}
		#oceanImported .main .main-f{width:700px;height:160px;padding-left:10px;}
		#oceanImported .main .main-f button{margin-bottom:5px;}
		#oceanImported .main .main-f select{width:270px;}
		#oceanImported .drop-down{position:absolute;width:200px;overflow:hidden;}
		#oceanImported .drop-down li{width:200px;}
		#oceanImported .drop-down li .separate{display:inline-block;width:20px;}
		/*#oceanImported .box-number table{table-layout:fixed;}
		#oceanImported .box-number table th{width:100px;}*/
	</style>
</head>
<body>
	<div id="oceanImported" class="container-fluid">
		<div class="head">
			<div class="" role="navigation">
				<ul class="top nav nav-tabs">
					<li :key="n.id" :class="{fl:true, test:true, active:n.id==navClass}" v-for="n in nav" @click="navClick(n)"  @click="navClick(n)" :key="n.id">
						<a href="javascript:;" v-text="n.nav"></a>
					</li>
				</ul>
			</div>
		</div>
		<div class="main clearfix">
			<div class="main-l fl">
				<div class="form-inline form-group">
					<div class="form-group">
						<label class="">业务编号</label>
						<input style="width:102px;" class="form-control" type="text"  v-model="oceanImportedData.BILLNO" />
					</div>
					<div class="form-group">
						<label>制单日期</label>
						<input class="form-control" type="date" v-model="oceanImportedData.BILLDATE" />
					</div>

				</div>
				<div class="form-inline form-group">

					<drop-down :num="1" :labelname="labelnamea" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.CORPID" :model="oceanImportedData.CORPNO" :labelshow="true"></drop-down>
					<!-- <div class="form-group">
						<label>客户</label>
						<input class="form-control" type="text" @input="inputChange($event.target.value,1)" @click="inputClick(this,1)"  @keyup="keyChoiceLi($event,1)"  @blur="falseBlur(1)" v-bind:name="oceanImportedData.CORPID" v-model="oceanImportedData.CORPNO" />
						<ul class="drop-down"  v-if="1==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.CORPNO" :key="c.CORPID" @click.native="choiceLi(c,1)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->

					<drop-down :num="2" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.CORPID" :modelname="oceanImportedData.CORPNAME" :labelshow="false" @onchange="onResultChange(val)"></drop-down>
					<!-- <div class="form-group">
						<input class="form-control" type="text" @input="inputChange($event.target.value,2)" @click="inputClick(this,2)"  @keyup="keyChoiceLi($event,2)"  @blur="falseBlur(2)" v-bind:name="oceanImportedData.CORPID" v-model="oceanImportedData.CORPNAME" />
						<ul class="drop-down"  v-if="2==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,2)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->
				</div>
				<div class="form-inline form-group">

					<drop-down :num="3" :labelname="labelname3" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.HSHIPPERID" :model="oceanImportedData.HSHIPPERNO" :labelshow="true"></drop-down>
					<!-- <div class="form-group">
						<label>发货人</label>
						<input class="form-control" type="text" @input="inputChange($event.target.value,3)" @click="inputClick(this,3)"  @keyup="keyChoiceLi($event,3)"  @blur="falseBlur(3)" v-bind:name="oceanImportedData.HSHIPPERID" v-model="oceanImportedData.HSHIPPERNO" />
						<ul class="drop-down"  v-if="3==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.CORPNO" :key="c.CORPID" @click.native="choiceLi(c,3)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->

					<drop-down :num="4" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.HSHIPPERID" :model="oceanImportedData.HSHIPPERNAME" :labelshow="false"></drop-down>
					<!-- <div class="form-group">
						<input class="form-control" type="text" @input="inputChange($event.target.value,4)" @click="inputClick(this,4)"  @keyup="keyChoiceLi($event,4)"  @blur="falseBlur(4)" v-bind:name="oceanImportedData.HSHIPPERID" v-model="oceanImportedData.HSHIPPERNAME" />
						<ul class="drop-down"  v-if="4==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,4)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->
				</div> 
				<div class="form-group">
					<textarea class="form-control" rows="5" v-model="oceanImportedData.HSHIPPERDETAILS"></textarea>
				</div>
				<div class="form-inline form-group">

					<drop-down :num="5" :labelname="labelname5" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.HCNEEID" :model="oceanImportedData.HCNEENO" :labelshow="true"></drop-down>
					<!-- <div class="form-group">
						<label>收货人</label>
						<input class="form-control" type="text" @input="inputChange($event.target.value,5)" @click="inputClick(this,5)"  @keyup="keyChoiceLi($event,5)"  @blur="falseBlur(5)" v-bind:name="oceanImportedData.HCNEEID" v-model="oceanImportedData.HCNEENO" />
						<ul class="drop-down"  v-if="5==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,5)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->

					<drop-down :num="6" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.HCNEEID" :model="oceanImportedData.HCNEENAME" :labelshow="false"></drop-down>
					<!-- <div class="form-group">
						<input class="form-control" type="text" @input="inputChange($event.target.value,6)" @click="inputClick(this,6)"  @keyup="keyChoiceLi($event,6)"  @blur="falseBlur(6)" v-bind:name="oceanImportedData.HCNEEID" v-model="oceanImportedData.HCNEENAME" />
						<ul class="drop-down"  v-if="6==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,6)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="5" v-model="oceanImportedData.HCNEEDETAILS"></textarea>
				</div>
				<div class="form-inline form-group">

					<drop-down :num="7" :labelname="labelname7" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.HNOTIFYID" :model="oceanImportedData.HNOTIFYNO" :labelshow="true"></drop-down>
					<!-- <div class="form-group">
						<label>通知人</label>
						<input class="form-control" type="text" @input="inputChange($event.target.value,7)" @click="inputClick(this,7)"  @keyup="keyChoiceLi($event,7)"  @blur="falseBlur(7)" v-bind:name="oceanImportedData.HNOTIFYID" v-model="oceanImportedData.HNOTIFYNO" />
						<ul class="drop-down"  v-if="7==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,7)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->

					<drop-down :num="8" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.HNOTIFYID" :model="oceanImportedData.HNOTIFYNAME" :labelshow="false"></drop-down>
					<!-- <div class="form-group">
						<input class="form-control" type="text" @input="inputChange($event.target.value,8)" @click="inputClick(this,8)"  @keyup="keyChoiceLi($event,8)"  @blur="falseBlur(8)" v-bind:name="oceanImportedData.HNOTIFYID" v-model="oceanImportedData.HNOTIFYNAME" />
						<ul class="drop-down"  v-if="8==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,8)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="5" v-model="oceanImportedData.HNOTIFYDETAILS"></textarea>
				</div>
				<div class="form-inline form-group">

					<drop-down :num="9" :labelname="labelname9" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.PLACERECEIPTID" :model="oceanImportedData.PLACERECEIPTNO" :labelshow="true"></drop-down>
					<!-- <div class="form-group">
						<label>收货地</label>
						<input class="form-control" type="text" @input="inputChange($event.target.value,9)" @click="inputClick(this,9)"  @keyup="keyChoiceLi($event,9)"  @blur="falseBlur(9)" v-bind:name="oceanImportedData.PLACERECEIPTID" v-model="oceanImportedData.PLACERECEIPTID" />
						<ul class="drop-down"  v-if="9==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,9)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->

					<drop-down :num="10" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.PLACERECEIPTID" :model="oceanImportedData.PLACERECEIPT" :labelshow="false"></drop-down>
					<!-- <div class="form-group">
						<input class="form-control" type="text" @input="inputChange($event.target.value,10)" @click="inputClick(this,10)"  @keyup="keyChoiceLi($event,10)"  @blur="falseBlur(10)" v-bind:name="oceanImportedData.PLACERECEIPTID" v-model="oceanImportedData.PLACERECEIPT" />
						<ul class="drop-down"  v-if="10==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,10)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->
				</div>
				<div class="form-inline form-group">

					<drop-down :num="11" :labelname="labelname11" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.POLID" :model="oceanImportedData.POL" :labelshow="true"></drop-down>
					<!-- <div class="form-group">
						<label>装货港</label>
						<input class="form-control" type="text" @input="inputChange($event.target.value,11)" @click="inputClick(this,11)"  @keyup="keyChoiceLi($event,11)"  @blur="falseBlur(11)" v-bind:name="oceanImportedData.POLID" v-model="oceanImportedData.POLNO" />
						<ul class="drop-down"  v-if="11==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,11)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->

					<drop-down :num="12" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.POLID" :model="oceanImportedData.POL" :labelshow="false"></drop-down>
					<!-- <div class="form-group">
						<input class="form-control" type="text" @input="inputChange($event.target.value,12)" @click="inputClick(this,12)"  @keyup="keyChoiceLi($event,12)"  @blur="falseBlur(12)" v-bind:name="oceanImportedData.POLID" v-model="oceanImportedData.POL" />
						<ul class="drop-down"  v-if="12==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,12)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div> -->
				</div>
				<div class="form-inline form-group">

					<!-- <drop-down :num="1" :labelname="labelname" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.CORPID" :model="oceanImportedData.CORPNAME" :labelshow="false" :classcontrol="classControl"></drop-down> -->
					<div class="form-group">
						<label>卸货港</label>
						<input class="form-control" type="text" @input="inputChange($event.target.value,13)" @click="inputClick(this,13)"  @keyup="keyChoiceLi($event,13)"  @blur="falseBlur(13)" v-bind:name="oceanImportedData.PODID" v-model="oceanImportedData.PODNO" />
						<ul class="drop-down"  v-if="13==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,13)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div>

					<!-- <drop-down :num="1" :labelname="labelname" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.CORPID" :model="oceanImportedData.CORPNAME" :labelshow="false" :classcontrol="classControl"></drop-down> -->
					<div class="form-group">
						<input class="form-control" type="text" @input="inputChange($event.target.value,14)" @click="inputClick(this,14)"  @keyup="keyChoiceLi($event,14)"  @blur="falseBlur(14)" v-bind:name="oceanImportedData.POD" v-model="oceanImportedData.POD" />
						<ul class="drop-down"  v-if="14==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,14)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div>
				</div>
				<div class="form-inline form-group">

					<!-- <drop-down :num="1" :labelname="labelname" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.CORPID" :model="oceanImportedData.CORPNAME" :labelshow="false" :classcontrol="classControl"></drop-down> -->
					<div class="form-group">
						<label>目的地</label>
						<input class="form-control" type="text" @input="inputChange($event.target.value,15)" @click="inputClick(this,15)"  @keyup="keyChoiceLi($event,15)"  @blur="falseBlur(15)" v-bind:name="oceanImportedData.PLACEDESTID" v-model="oceanImportedData.PLACEDESTID" />
						<ul class="drop-down"  v-if="15==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,15)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div>

					<!-- <drop-down :num="1" :labelname="labelname" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.CORPID" :model="oceanImportedData.CORPNAME" :labelshow="false" :classcontrol="classControl"></drop-down> -->
					<div class="form-group">
						<input class="form-control" type="text" @input="inputChange($event.target.value,16)" @click="inputClick(this,16)"  @keyup="keyChoiceLi($event,16)"  @blur="falseBlur(16)" v-bind:name="oceanImportedData.PLACEDEST" v-model="oceanImportedData.PLACEDEST" />
						<ul class="drop-down"  v-if="16==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,16)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div>
				</div>
				<div class="form-inline form-group">

					<!-- <drop-down :num="1" :labelname="labelname" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.CORPID" :model="oceanImportedData.CORPNAME" :labelshow="false" :classcontrol="classControl"></drop-down> -->
					<div class="form-group">
						<label>交货地</label>
						<input class="form-control" type="text" @input="inputChange($event.target.value,17)" @click="inputClick(this,17)"  @keyup="keyChoiceLi($event,17)"  @blur="falseBlur(17)" v-bind:name="oceanImportedData.PLACEDELIVERYID" v-model="oceanImportedData.PLACEDELIVERYNO" />
						<ul class="drop-down"  v-if="17==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,17)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div>

					<!-- <drop-down :num="1" :labelname="labelname" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.CORPID" :model="oceanImportedData.CORPNAME" :labelshow="false" :classcontrol="classControl"></drop-down> -->
					<div class="form-group">
						<input class="form-control" type="text" @input="inputChange($event.target.value,18)" @click="inputClick(this,18)"  @keyup="keyChoiceLi($event,18)"  @blur="falseBlur(18)" v-bind:name="oceanImportedData.PLACEDELIVERY" v-model="oceanImportedData.PLACEDELIVERY" />
						<ul class="drop-down"  v-if="18==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,18)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div>
				</div>
			</div>
			<div class="main-c fl">
				<div class="form-inline form-group">
					<div class="form-group">
						<label>制单</label>
						<input class="form-control" type="text" v-model="oceanImportedData.USERNAME" />
					</div>
					<div class="form-group">
						<label>部门</label>
						<select class="form-control" v-model="oceanImportedData.BILLDEPTID">
							<option v-for=""></option>
						</select>
					</div>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>业务来源</label>
						<select class="form-control c-medium" v-model="oceanImportedData.BSSRCID">
							<option value="1">代理</option>
							<option value="2">公司</option>
							<option value="3">业务员</option>
						</select>
						<select class="form-control c-medium" v-model="oceanImportedData.SALESNAME" @click="">
							<option v-for=""></option>
						</select>
					</div>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>HB/L NO</label>
						<input class="form-control c-medium" type="text" v-model="oceanImportedData.HBLNO" />
						<select class="form-control c-medium" v-model="oceanImportedData.HPAYMODE">
							<option></option>
						</select>
					</div>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>MB/L NO</label>
						<input class="form-control c-medium" type="text" v-model="oceanImportedData.MBLNO" />
						<select class="form-control c-medium" v-model="oceanImportedData.MPAYMODE">
							<option></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label>HB/L付费地</label>
					<input class="form-control" type="text" v-model="oceanImportedData.HPAYPLACE" />
				</div>
				<div class="form-group">
					<label class="control-label">MB/L付费地</label>
					<input class="form-control" type="text" v-model="oceanImportedData.MPAYPLACE" />
				</div>
				<div class="form-group">
					<label>件数</label>
					<input class="form-control" type="text" v-model="oceanImportedData.PKGS" />
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>毛重</label>
						<input style="" class="form-control" type="text" v-model="oceanImportedData.GROSSWEIGHT" />
					</div>
					<div class="form-group">
						<label>尺码</label>
						<input class="form-control" type="text" v-model="oceanImportedData.CFSVOLUME" />
					</div>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>包装</label>
						<select class="form-control c-medium" v-model="oceanImportedData.KINDPKGS">
							<option></option>
						</select>
						<input class="form-control c-medium" type="text" v-model="oceanImportedData.DGPKGCODE" />
					</div>
				</div>
				<div class="form-group">
					<label>件数描述</label>
					<input class="form-control" type="text" v-model="oceanImportedData.PKGSDESC" />
				</div>
				<div class="form-group">
					<label>HS代码品名</label>
					<input class="form-control" type="text" v-model="oceanImportedData.GOODSNO" />
				</div>
				<div class="form-group">
					<select style="width:100%" class="form-control" v-model="oceanImportedData.GOODSNAME">
						<option></option>
					</select>
				</div>
				<div class="form-group">
					<label>货物描述</label>
					<label class="checkbox-inline">
						<input type="checkbox" v-model="oceanImportedData.IFDANGER" />危险品
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" v-model="oceanImportedData.IFFREEZE" />冻柜
					</label>
						<button class="btn">详情</button>
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="3" v-model="oceanImportedData.GOODSDESC"></textarea>
				</div>
			</div>
			<div class="main-r fl">
				<div class="form-inline form-group">
					<div class="form-group">
						<label>单据类型</label>
						<input class="form-control r-small" type="text" v-model="oceanImportedData.BILLKIND" />
					</div>
					<div class="form-group">
						<label>业务类型</label>
						<select class="form-control r-small" v-model="oceanImportedData.BSTYPEID">
							<option></option>
						</select>
					</div>
					<div class="form-group">
						<label>业务状态</label>
						<select class="form-control r-small" v-model="oceanImportedData.BILLSTATUS">
							<option></option>
						</select>
					</div>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>装箱方式</label>
						<select class="form-control r-medium" v-model="oceanImportedData.CNTRLOADTYPE">
							<option></option>
						</select>
					</div>
					<div class="form-group">
						<label>ETD</label>
						<input class="form-control r-medium" type="date" v-model="oceanImportedData.ETD" />
					</div>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>操作员</label>
						<select class="form-control r-medium" v-model="oceanImportedData.OPERATORID">
							<option></option>
						</select>
					</div>
					<div class="form-group">
						<label>船名</label>
						<!-- <select class="form-control r-medium" v-model="oceanImportedData.a">
							<option></option>
						</select> -->

						<!-- <drop-down :num="1" :labelname="labelname" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.CORPID" :model="oceanImportedData.CORPNAME" :labelshow="false" :classcontrol="classControl"></drop-down> -->
						<input class="form-control r-medium" type="text" @input="inputChange($event.target.value,21)" @click="inputClick(this,21)"  @keyup="keyChoiceLi($event,21)"  @blur="falseBlur(21)" v-model="oceanImportedData.VSL" />
						<ul class="drop-down"  v-if="21==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,21)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>签单方式</label>
						<select class="form-control r-medium" v-model="oceanImportedData.ISSUETYPE">
							<option></option>
						</select>
					</div>
					<div class="form-group">
						<label>航次</label>
						<input class="form-control r-medium" type="text" v-model="oceanImportedData.VOY" />
					</div>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>REF NO</label>
						<input class="form-control r-medium" type="text" v-model="oceanImportedData.REFMBLNO" />
					</div>
					<div class="form-group">
						<label>调度员</label>
						<!-- <select class="form-control r-medium" v-model="oceanImportedData.a">
							<option></option>
						</select> -->

						<!-- <drop-down :num="1" :labelname="labelname" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="oceanImportedData.CORPID" :model="oceanImportedData.CORPNAME" :labelshow="false" :classcontrol="classControl"></drop-down> -->
						<input class="form-control r-medium" type="text" @input="inputChange($event.target.value,22)" @click="inputClick(this,22)"  @keyup="keyChoiceLi($event,22)"  @blur="falseBlur(22)" v-bind:name="oceanImportedData.CONTROLLERID" v-model="oceanImportedData.CONTROLLERNAME" />
						<ul class="drop-down"  v-if="22==ifShow">
							<drop-down class="pointer" v-for="c in corpsData" :item="c.SNAME" :key="c.CORPID" @click.native="choiceLi(c,22)" :class="{'active':c.CORPID==liClass}">
							</drop-down>
						</ul>
					</div>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>A M S</label>
						<select class="form-control r-medium" v-model="oceanImportedData.AMSPROP">
							<option></option>
						</select>
					</div>
					<div class="form-group">
						<label>核算部门</label>
						<select class="form-control r-medium" v-model="oceanImportedData.DEPTID">
							<option></option>
						</select>
					</div>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>A C I</label>
						<select class="form-control r-medium" v-model="oceanImportedData.ACIPROP">
							<option></option>
						</select>
					</div>
					<div class="form-group">
						<label>提单份数</label>
						<select class="form-control r-medium" v-model="oceanImportedData.NOOBL">
							<option></option>
						</select>
					</div>
				</div>
				<div class="form-inline form-group">
					<label>客户约号</label>
					<input class="form-control r-big" type="text" v-model="oceanImportedData.SOCONTRACTNO" />
				</div>
				<div class="form-group">
					<label>唛头</label>
					<textarea style="height:70px;" class="form-control" rows="2" v-model="oceanImportedData.GOODSMARKS"></textarea>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label style="width:80px;" class="checkbox-inline">
							<input type="checkbox" v-model="oceanImportedData.IFSOC" />是否SOC箱
						</label>
					</div>
					<div class="form-group">
						<label>电放/正本</label>
						<input class="form-control" type="text" v-model="oceanImportedData.SO" />						
					</div>
				</div>
				<div class="form-inline form-group">
					<label>箱量</label>
					<button class="btn">新行</button>
					<button class="btn">删行</button>
					<label style="width:70px;" class="checkbox-inline">
						<input type="checkbox" v-model="oceanImportedData.IFUPPERCNTRQTY" />箱量大写
					</label>
				</div>
				<div class="box-number">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th></th>
								<th v-for="b in boxQuantitysTitle" :key="b.id" v-text="b.title"></th>
							</tr>
						</thead>
						<tbody>
							<tr class="form-group" v-for="b in boxQuantitysData">
								<td><input class="form-control" type="checkbox" ></td>
								<td>
									<select v-model="b.CNTR" class="form-control">
										<option v-for="t in CNTRDATA" v-text="t.CNTRSIZE" :value="t.CNTRSIZE"></option>
									</select>
								</td>
								<td><input class="form-control" type="text" v-model="b.CNTRQTY"/></td>
								<td><input class="form-control" type="text" v-model="b.REMARKS"/></td>
								<td><input class="form-control" type="text" v-model="b.ONEWAYCNTR"/></td>
								<td><input class="form-control" type="checkbox" v-model="b.IFSOC"/></td>
								<td><input class="form-control" type="checkbox" v-model="b.CNTRTYPE"/></td>
								<td><input class="form-control" type="text" v-model="b.TEMPERATURE"/></td>
								<td><input class="form-control" type="text" v-model="b.TEMPERATUREUNIT"/></td>
								<td><input class="form-control" type="text" v-model="b.HUMIDITY"/></td>
								<td><input class="form-control" type="text" v-model="b.DRAUGHT"/></td>
								<td><input class="form-control" type="text" v-model="b.TON"/></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="main-f fl">
				<div class="form-group">
					<label style="width:100px;">箱数或件数大写</label>
					<input style="width:580px;display:inline-block;" class="form-control" type="text" v-model="oceanImportedData.TOTALQTY" />
				</div>
				<button class="btn btn-primary btn-block">发送EDT时 服务方式为 DOOR TO / TO DOOR 时客人名称和联系人</button>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>服务方式</label>
						<select class="form-control" v-model="oceanImportedData.MSERVICETERMS">
							<option></option>
						</select>
					</div>
					<div class="form-group">
						<label>贸易条款</label>
						<select class="form-control" v-model="oceanImportedData.TRADETERMID">
							<option></option>
						</select>
					</div>
				</div>
				<div class="form-inline form-group">
					<div class="form-group">
						<label>联运方式</label>
						<select class="form-control" v-model="oceanImportedData.PREPARECNTR">
							<option></option>
						</select>
					</div>
					<div class="form-group">
						<label>特殊装载</label>
						<select class="form-control" v-model="oceanImportedData.LOADTERM">
							<option></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="checkbox-inline">
						<input type="checkbox" v-model="oceanImportedData.IFCUSTOMS" />需报关
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" v-model="oceanImportedData.IFINSPECT" />需报检
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" v-model="oceanImportedData.IFLAND" />需陆运
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" v-model="oceanImportedData.IFSTORE" />需仓储
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" v-model="oceanImportedData.IFSTORE" />需堆场
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" v-model="oceanImportedData.IFDANGERDECLARE" />需申报
					</label>
					<label style="width:70px;" class="checkbox-inline">
						<input type="checkbox" v-model="oceanImportedData.IFSTORE" />其他服务
					</label>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		Vue.component("drop-down", {
			template:`
				<div class="form-group">
					<label v-text="labelname" v-if="labelshow"></label>
					<input class="form-control" :class="classcontrol" type="text" @input="inputChange($event.target.value,num)" @click="inputClick($event.target.value,num)"  @keyup="keyChoiceLi($event,num)"  @blur="falseBlur(num)" :name="name" v-model="dropmodelname" />
					<ul class="drop-down"  v-show="num==ifshow">
						<li class="pointer" v-for="c in dropdata" :key="c.CORPID" @click="choiceLi(c,num)" :class="{'active':c.CORPID==liclass}">
							<span v-text="c.CORPNO"></span>
							<span class="separate"></span>
							<span v-text="c.SNAME"></span>
						</li>
					</ul>
				</div>
			`,
			props:["num", "labelname", "dropdata", "liclass", "ifshow", "name", "modelname", "labelshow", "classcontrol"],
			data:function(){
				return {
					dropmodelname: this.modelname
				}
			},
			watch: {
				modelname(val) {
					this.dropmodelname = val;//监听外部对props属性result的变更，并同步到组件内的data属性myResult中
				},
				dropmodelname(val){
					this.$emit("onchange",this.dropmodelname);//组件内对myResult变更后向外部发送事件通知
				}
			},
			methods:{
				onResultChange:function(val){
					this.modelname=val;
				},
				inputClick:function(val, num){
					oceanImported.corpsData = oceanImported.getAjax("corpsFind",{SNAME:val});
					console.log(val, num);
					oceanImported.liClass = 0;
					oceanImported.n = -1;
					setTimeout(function(){
						if(num==1){
							oceanImported.ifShow = 1;
						}else if(num==2){
							oceanImported.ifShow = 2;
						}else if(num==3){
							oceanImported.ifShow = 3;
						}else if(num==4){
							oceanImported.ifShow = 4;
						}
					},150);
				},
				inputChange:function(val, num){
					console.log(val, num);
					if(num==1){
						oceanImported.corpsData = oceanImported.getAjax("corpsFind",{SNAME:val});
					}else if(num==2){
						oceanImported.corpsData = oceanImported.getAjax("corpsFind",{SNAME:val});
					}else if(num==3){
						oceanImported.corpsData = oceanImported.getAjax("corpsFind",{SNAME:val});
					}else if(num==4){
						oceanImported.corpsData = oceanImported.getAjax("corpsFind",{SNAME:val});
					}
				},
				keyChoiceLi:function(e, num) {
					console.log(e, num);
					var downData =[];
					if(num==1){
						downData = oceanImported.corpsData;//
					}
					// console.log(downData)
					if(!downData){
					}else{
						var length = downData.length;
						if (e.keyCode == 40) {
							if(oceanImported.n >= length-1){
								oceanImported.n = -1;
							}
							oceanImported.n = oceanImported.n + 1;
							oceanImported.liClass = downData[oceanImported.n].CORPID;
							console.log(40,downData);
						}
						if (e.keyCode == 38) {
							if(oceanImported.n <= 0){
								oceanImported.n = length;
							}
							oceanImported.n=oceanImported.n-1;
							oceanImported.liClass = downData[oceanImported.n].CORPID;
							console.log(38,downData);
						}
						if (e.keyCode == 13) {
							if(!downData[oceanImported.n]){

							}else{
								if(oceanImported.ifShow==1){
									oceanImported.oceanImportedData.CORPNAME = downData[oceanImported.n].SNAME;
									oceanImported.oceanImportedData.CORPID = downData[oceanImported.n].CORPID;
								}
							}
							oceanImported.ifShow = 0;
						}
					}
				},
				choiceLi:function(item, num) {
					console.log(item);
					if(num==1){
						oceanImported.oceanImportedData.CORPID = item.CORPID;
						oceanImported.oceanImportedData.CORPNAME = item.SNAME;
						oceanImported.oceanImportedData.CORPNAME = item.SNAME;
						oceanImported.oceanImportedData.CORPID = item.CORPID;
						oceanImported.oceanImportedData.CORPNAME = item.SNAME;
						oceanImported.oceanImportedData.CORPID = item.CORPID;
					}else if(num==2){
						oceanImported.oceanImportedData.CORPNAME = item.SNAME;
						oceanImported.oceanImportedData.CORPID = item.CORPID;
					}else if(num==3){
						oceanImported.oceanImportedData.CORPNAME = item.SNAME;
						oceanImported.oceanImportedData.CORPID = item.CORPID;
					}else if(num==4){
						oceanImported.oceanImportedData.CORPNAME = item.SNAME;
						oceanImported.oceanImportedData.CORPID = item.CORPID;
					}
					oceanImported.ifShow = 0;
				},
				falseBlur:function(num){
					console.log(num);
					setTimeout(function(num){
						oceanImported.ifShow = -1;
					}, 120);
				}
			}
		});
		var oceanImported = new Vue({
			el:"#oceanImported",
			data:{
				// 导航栏控制
				navClass:1,
				// 导航栏内容
				ifShow:0,
				liClass:0,
				nav:[{id:1, nav:"接单"},
					{id:2, nav:"订舱"},
					{id:3, nav:"配箱"},
					{id:4, nav:"费用"},
					{id:5, nav:"报关/陆运/其他"}
				],
				// 箱量表表头
				boxQuantitysTitle:[{id:1,title:"箱型"},
					{id:2,title:"箱量"},
					{id:3,title:"备注"},
					{id:4,title:"单程箱"},
					{id:5,title:"SOC箱"},
					{id:6,title:"食品箱"},
					{id:7,title:"温度"},
					{id:8,title:"温度单位"},
					{id:9,title:"湿度"},
					{id:10,title:"通风度"},
					{id:11,title:"加重吨数"}
				],
				// 箱量表数据
				boxQuantitysData:[{}],
				// 箱型数据
				CNTRDATA:[],
				oceanImportedData:[],
				labelname:"测试",
				corpsData:[],
				classControl:"r-medium",
				labelnamea:"客户",
				labelname3:"发货人",
				labelname5:"收货人",
				labelname7:"通知人",
				labelname9:"收货地",
				labelname11:"装货港",
			},
			methods:{
				navClick:function(item){
					oceanImported.navClass = item.id;
				},
				getAjax:function(url, para) {
					var getData = {};
					$.ajax({
						type: "get",
						url: url,
						data: para,
						cache: false,
						async: false,
						dataType: "json",
						success: function (json, textStatus, jqXHR) {
							// console.log("json", json)
							if(!json.data.lenth){
								getData = json.data;
							}
						},
						error: function (json,XMLHttpRequest, textStatus, errorThrown) {
							console.log(json);
							// alert("请求失败！");
						}
					});
					// console.log("getData", getData);
					return getData;
				},
			},
			onResultChange:function(val){
				this.modelname=val;
			}
		});
		
		window.onload = function(){
			
		}
	</script>
</body>
</html>