<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>父子通信</title>
	<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
	<script type="text/javascript" src="static/js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="static/vue/dist/vue.js"></script>
	<style type="text/css">
		#app .drop-down li.active{color:#fff;background-color:#337ab7;}
	</style>
</head>
<body>
	<div id="app">
		<alert :num="1" :labelname="labelname" :alertdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="searchData.CORPID" :model="searchData.CORPNAME"></alert>
	</div>			
	<script type="text/javascript">
		Vue.component("alert", {
			template:`
				<div id="app">
					<div class="form-group">
						<label v-text="labelname"></label>
						<input class="form-control" type="text" @input="inputChange($event.target.value,num)" @click="inputClick(this,num)"  @keyup="keyChoiceLi($event,num)"  @blur="falseBlur(num)" :name="name" v-model="model" />
						<ul class="drop-down"  v-if="num==ifshow">
							<li class="pointer" v-for="c in alertdata" :key="c.CORPID" @click="choiceLi(c,num)" :class="{'active':c.CORPID==liclass}">
								<span v-text="c.SNAME"></span>
							</li>
						</ul>
					</div>
				</div>
			`,
			props:["num", "labelname", "alertdata", "liclass", "ifshow", "name", "model"],
			methods:{
				inputClick:function(obj, num){
					console.log(obj, num);
					app.liClass = 0;
					app.n = -1;
					setTimeout(function(){
						if(num==1){
							app.ifShow = 1;
						}else if(num==2){
							app.ifShow = 2;
						}else if(num==3){
							app.ifShow = 3;
						}
					},150);
				},
				inputChange:function(val, num){
					console.log(val, num);
					if(num==1){
						app.corpsData = app.getAjax("corpsFind",{SNAME:val});
					}else if(num==2){
						app.goodsData = app.getAjax("goodsFind",{CNAME:val});
					}else if(num==3){
						app.goodTypesData = app.getAjax("goodTypesFind",{CNAME:val});
					}
				},
				keyChoiceLi:function(e, num) {
					console.log(e, num);
					var downData =[];
					if(num==1){
						downData = app.corpsData;//
					}
					// console.log(downData)
					if(!downData){
					}else{
						var length = downData.length;
						if (e.keyCode == 40) {
							if(app.n >= length-1){
								app.n = -1;
							}
							app.n = app.n + 1;
							app.liClass = downData[app.n].CORPID;
							console.log(40,downData);
						}
						if (e.keyCode == 38) {
							if(app.n <= 0){
								app.n = length;
							}
							app.n=app.n-1;
							app.liClass = downData[app.n].CORPID;
							console.log(38,downData);
						}
						if (e.keyCode == 13) {
							if(!downData[app.n]){

							}else{
								if(app.ifShow==1){
									app.searchData.CORPNAME = downData[app.n].SNAME;
									app.searchData.CORPID = downData[app.n].CORPID;
								}
							}
							app.ifShow = 0;
						}
					}
				},
				choiceLi:function(item, num) {
					console.log(item);
					if(num==1){
						app.searchData.CORPNAME = item.SNAME;
						app.searchData.CORPID = item.CORPID;
					}
					app.ifShow = 0;
				},
				falseBlur:function(num){
					console.log(num);
					setTimeout(function(num){
						app.ifShow = -1;
					}, 120);
				}
			}
		});
		var app = new Vue({
			el:"#app",
			data:{
				corpsData:[{CORPID:1, SNAME:"DLJT"},{CORPID:2, SNAME:"DLGJ"},{CORPID:3, SNAME:"QDWJ"},{CORPID:4, SNAME:"GLJ"},{CORPID:5, SNAME:"JTL"}],
				ifShow:-1,
				searchData:[],
				labelname:"客户",
				liClass:0
			}
		});
		app.inputClick = function(obj, num){
			app.liClass = 0;
			app.n = -1;
			setTimeout(function(){
				if(num==1){
					app.ifShow = 1;
				}else if(num==2){
					app.ifShow = 2;
				}else if(num==3){
					app.ifShow = 3;
				}
			},150);
		};
		app.inputChange = function(val, num){
			console.log(val, num);
			if(num==1){
				app.corpsData = app.getAjax("corpsFind",{SNAME:val});
			}else if(num==2){
				app.goodsData = app.getAjax("goodsFind",{CNAME:val});
			}else if(num==3){
				app.goodTypesData = app.getAjax("goodTypesFind",{CNAME:val});
			}
		};
		app.keyChoiceLi = function(e, num) {
			var downData =[];
			if(num==1){
				downData = app.corpsData;//
			}
			// console.log(downData)
			if(!downData){

			}else{
				var length = downData.length;
				if (e.keyCode == 40) {
					if(app.n >= length-1){
						app.n = -1;
					}
					app.n = app.n + 1;
					app.liClass = downData[app.n].CORPID;
					console.log(40,downData);
				}
				if (e.keyCode == 38) {
					if(app.n <= 0){
						app.n = length;
					}
					app.n=app.n-1;
					app.liClass = downData[app.n].CORPID;
					console.log(38,downData);
				}
				if (e.keyCode == 13) {
					if(!downData[app.n]){

					}else{
						if(app.ifShow==1){
							app.searchData.CORPNAME = downData[app.n].SNAME;
							app.searchData.CORPID = downData[app.n].CORPID;
						}
					}
					app.ifShow = 0;
				}
			}
		};
		app.choiceLi = function(item, num) {
			if(num==1){
				app.searchData.CORPNAME = item.SNAME;
				app.searchData.CORPID = item.CORPID;
			}
			app.ifShow = 0;
		};
		app.falseBlur = function(num){
			setTimeout(function(num){
				app.ifShow = -1;
			}, 120);
		};
	</script>
</body>
</html>