<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>父子通信</title>
	<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="static/css/style.css" />
	<script type="text/javascript" src="static/js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="static/bootstrap/js/bootstrap.js"></script>
	<script type="text/javascript" src="static/vue/dist/vue.js"></script>
	<style type="text/css">
		#app .drop-down li.active{color:#fff;background-color:#337ab7;}
		#app .drop-down li .separate{display:inline-block;width:20px;}
	</style>
</head>
<body>
	<div id="app">
		<drop-down :num="1" :labelname="labelname" :dropdata="corpsData" :liclass="liClass" :ifshow="ifShow" :name="searchData.CORPID" :modelname="searchData.CORPNAME" :labelshow="true" :classcontrol="classControl"></drop-down>
	</div>			
	<script type="text/javascript">
		Vue.component("drop-down", {
			template:`
				<div class="form-group">
					<label v-text="labelname" v-if="labelshow"></label>
					<input class="form-control" :class="classcontrol" type="text" @input="inputChange($event.target.value,num)" @click="inputClick(this,num)"  @keyup="keyChoiceLi($event,num)"  @blur="falseBlur(num)" :name="name" v-model="dropmodelname" />
					<ul class="drop-down"  v-show="num==ifshow">
						<li class="pointer" v-for="c in dropdata" :key="c.CORPID" @click="choiceLi(c,num)" :class="{'active':c.CORPID==liclass}">
							<span v-text="c.CORPNO"></span>
							<span class="separate"></span>
							<span v-text="c.SNAME"></span>
						</li>
					</ul>
				</div>
			`,
			props:["num", "labelname", "dropdata", "liclass", "ifshow", "name", "modelname", "labelshow", "classcontrol"],
			watch: {
				modelname(val) {
					this.dropmodelname = val;//监听外部对props属性result的变更，并同步到组件内的data属性myResult中
				},
				dropmodelname(val){
					this.$emit("onchange",this.dropmodelname);//组件内对myResult变更后向外部发送事件通知
				}
			},
			methods:{
				inputClick:function(obj, num){
					console.log(obj, num);
					app.liClass = 0;
					app.n = -1;
					setTimeout(function(){
						if(num==1){
							app.ifShow = 1;
						}else if(num==2){
							app.ifShow = 2;
						}else if(num==3){
							app.ifShow = 3;
						}
					},150);
				},
				inputChange:function(val, num){
					console.log(val, num);
					if(num==1){
						// app.corpsData = app.getAjax("corpsFind",{SNAME:val});
					}else if(num==2){
						app.goodsData = app.getAjax("goodsFind",{CNAME:val});
					}else if(num==3){
						app.goodTypesData = app.getAjax("goodTypesFind",{CNAME:val});
					}
				},
				keyChoiceLi:function(e, num) {
					console.log(e, num);
					var downData =[];
					if(num==1){
						downData = app.corpsData;//
					}
					// console.log(downData)
					if(!downData){
					}else{
						var length = downData.length;
						if (e.keyCode == 40) {
							if(app.n >= length-1){
								app.n = -1;
							}
							app.n = app.n + 1;
							app.liClass = downData[app.n].CORPID;
							console.log(40,downData);
						}
						if (e.keyCode == 38) {
							if(app.n <= 0){
								app.n = length;
							}
							app.n=app.n-1;
							app.liClass = downData[app.n].CORPID;
							console.log(38,downData);
						}
						if (e.keyCode == 13) {
							if(!downData[app.n]){

							}else{
								if(app.ifShow==1){
									app.searchData.CORPNAME = downData[app.n].SNAME;
									app.searchData.CORPID = downData[app.n].CORPID;
								}
							}
							app.ifShow = 0;
						}
					}
				},
				choiceLi:function(item, num) {
					console.log(item);
					if(num==1){
						app.searchData.CORPNAME = item.SNAME;
						app.searchData.CORPID = item.CORPID;
					}
					app.ifShow = 0;
				},
				falseBlur:function(num){
					console.log(num);
					setTimeout(function(num){
						app.ifShow = -1;
					}, 120);
				}
			}
		});
		var app = new Vue({
			el:"#app",
			data:{
				corpsData:[{CORPID:1, CORPNO:"DLJT", SNAME:"DLJT"},{CORPID:2, CORPNO:"DLGJ", SNAME:"DLGJ"},{CORPID:3, CORPNO:"QDWJ", SNAME:"QDWJ"},{CORPID:4, CORPNO:"GLJ", SNAME:"GLJ"},{CORPID:5, CORPNO:"JTL", SNAME:"JTL"}],
				ifShow:-1,
				searchData:[],
				labelname:"客户",
				liClass:0,
				classControl:"classA"
			}
		});
	</script>
</body>
</html>