<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../static/layui/css/layui.css" />
	<script type="text/javascript" src="../static/js/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="../static/layui/layui.js"></script>
	<script type="text/javascript" src="../static/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<input type="checkbox" v-for="x in data" :value="x.ID" v-model="arr" />
	</div>
	<script type="text/javascript">
		var app = new Vue({
			el:"#app",
			data:{
				arr:[],
				data:[{ID:1, value:1},
					{ID:2, value:2},
					{ID:3, value:3},
					{ID:4, value:4},
					{ID:5, value:5}],
			}
		})
	</script>
</body>
</html>