body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{background:#fff;color:#333;font-size:12px; margin-top:5px;font-family:"SimSun","宋体","Arial Narrow";}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
a{text-decoration:none;}
a:link{color:#009;}
a:visited{color:#800080;}
a:hover,a:active,a:focus{color:#c00;text-decoration:underline;}
.head{padding-top:10px;    position: relative;z-index: 10;}
.fl{float: left;}
.fr{float: right;}
.img{width:100%;}
.img-h{height:100%;}
.pointer{cursor:pointer;}
.drop-down {background-color:#fff;border-radius:0 0 2px 2px;box-shadow:1px 1px 5px #1E9FFF;z-index:10;}
.drop-down li{line-height:25px;padding:0 10px;}
.drop-down li:hover{color:#fff;background-color:#1E9FFF;transition:2s;-moz-transition:0.2s;-webkit-transition: 0.2s;-o-transition:0.2s; /* Opera */}
.curr{color:#fff;background-color:#009688;}
.color-F{color:#fff;}
.pos-abs{position:absolute;}
.pos-rel{position:relative;}
.pos-fix{position:fixed;}
.over-hide{overflow: hidden;}
.over-auto{overflow: auto;}
.marg-0{margin:0;}
.padd-0{padding:0;}
.layui-form-label{padding: 9px 2px; width: 65px;}
.clear-both:after{content:"";height:0;line-height:0;display:block;visibility:hidden;clear:both;}
.clear-both{zoom:1;}
.align-l{text-align: left;}
.align-r{text-align: right;}
.align-c{text-align: center;}
.ml-20{margin-left:20px}
.ml-50{margin-left:50px}
.mr-20{margin-right:20px}
.mr-50{margin-right:50px}
table tbody .td-icon i{font-size:20px;color:#1E9FFF;}
.model{background-color:rgba(0,0,0,0.3);width:100%;height:100%; top:0;left:0;z-index: 20;}
.model .layui-form-label{width:80px;}
.model .model-operation{width:300px;;margin-left:-150px;}
.model .model-main,.model .model-operation{left:50%;background-color:#fff; padding:20px 30px;border-radius:4px;top:20%;}
.model .model-title{margin-bottom:20px;}
.nowrap{white-space:nowrap;}